{
  "id": {
    "providerName": "$provider",
    "apiName": "$name",
    "version": "$version"
  },
  "description": "$description",
  "type": "NULL",
  "context": "$context/$version",
  "contextTemplate": "$context/{version}",
  "tags": [
  #foreach( $tag in $tags)
  "$tag"#if( $foreach.hasNext ),#end
  #end
  ],
  "documents": [],
  "availableTiers": [
    {
      "name": "Bronze",
      "displayName": "Bronze",
      "description": "Allows 1000 requests per minute",
      "requestsPerMin": 1000,
      "requestCount": 1000,
      "unitTime": 1,
      "timeUnit": "min",
      "tierPlan": "FREE",
      "stopOnQuotaReached": true
    },
    {
      "name": "Gold",
      "displayName": "Gold",
      "description": "Allows 5000 requests per minute",
      "requestsPerMin": 5000,
      "requestCount": 5000,
      "unitTime": 1,
      "timeUnit": "min",
      "tierPlan": "FREE",
      "stopOnQuotaReached": true
    },
    {
      "name": "Silver",
      "displayName": "Silver",
      "description": "Allows 2000 requests per minute",
      "requestsPerMin": 2000,
      "requestCount": 2000,
      "unitTime": 1,
      "timeUnit": "min",
      "tierPlan": "FREE",
      "stopOnQuotaReached": true
    },
    {
      "name": "Unlimited",
      "displayName": "Unlimited",
      "description": "Allows unlimited requests",
      "requestsPerMin": 2147483647,
      "requestCount": 2147483647,
      "unitTime": 0,
      "timeUnit": "ms",
      "tierPlan": "FREE",
      "stopOnQuotaReached": true
    }
  ],
  "availableSubscriptionLevelPolicies": [],
  "uriTemplates": [
    {
      "uriTemplate": "/*",
      "httpVerb": "POST",
      "authType": "Any",
      "httpVerbs": [
        "POST"
      ],
      "authTypes": [
        "Any"
      ],
      "throttlingConditions": [],
      "throttlingTier": "Unlimited",
      "throttlingTiers": [
        "Unlimited"
      ],
      "mediationScript": "null",
      "scopes": [
        null
      ],
      "mediationScripts": {}
    }
  ],
  "apiHeaderChanged": false,
  "apiResourcePatternsChanged": false,
  "status": "CREATED",
  "technicalOwner": "$technicalOwner",
  "technicalOwnerEmail": "$technicalOwnerEmail",
  "businessOwner": "$businessOwner",
  "businessOwnerEmail": "$businessOwnerEmail",
  "visibility": "public",
  "endpointSecured": false,
  "endpointAuthDigest": false,
  "transports": "http,https",
  "advertiseOnly": false,
  "corsConfiguration": {
    "corsConfigurationEnabled": false,
    "accessControlAllowOrigins": [
      "*"
    ],
    "accessControlAllowCredentials": false,
    "accessControlAllowHeaders": [
      "authorization",
      "Access-Control-Allow-Origin",
      "Content-Type",
      "SOAPAction"
    ],
    "accessControlAllowMethods": [
      "GET",
      "PUT",
      "POST",
      "DELETE",
      "PATCH",
      "OPTIONS"
    ]
  },
  "endpointConfig": "{\"production_endpoints\":{\"url\":\"$productionEndpoint\",\"config\":null,\"template_not_supported\":false},\"sandbox_endpoints\":{\"url\":\"$sandboxEndpoints\",\"config\":null,\"template_not_supported\":false},\"endpoint_type\":\"http\"}",
  "responseCache": "Disabled",
  "cacheTimeout": 300,
  "implementation": "ENDPOINT",
  "scopes": [],
  "isDefaultVersion": false,
  "isPublishedDefaultVersion": false,
  "environments": [
    "Production and Sandbox"
  ],
  "rating": 0.0,
  "isLatest": true
}